/* Le style générale de la page HOME */
html {
    font-size: 1.3em;
    color: white;
    background-color: black;
}
* {
    padding: 0px;
    margin: 0px;
}
li {
    list-style-type: none;
}
body {
    width: max-content;
}
@font-face {
    font-family: "rajdhani";
    src: url("fonts/rajdhani/rajdhani-medium.ttf");
}
@font-face {
    font-family: "groteskb";
    src: url("fonts/space_grotesk/SpaceGrotesk-Bold.otf");
}
@font-face {
    font-family: "groteskr";
    src: url("fonts/space_grotesk/SpaceGrotesk-Regular.otf");
}

/* L'en-tète de la page */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid  #BCBBBD;
    border-right: 3px solid  #BCBBBD;
    border-left: 3px solid  #BCBBBD;
    margin-left: 80px;
    margin-right: 80px;
    padding: 50px;
    padding-bottom: 80px;
}
header nav ul { 
    display: flex;
    gap: 20px;
}

/* Le pied de page de la page */
footer {
    display: flex;
    flex-flow: column wrap;
    gap: 40px;
    align-items: center;
    margin-bottom: 60px;
}
blockquote {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    width: 1100px;
}
blockquote div:first-child {
    align-self: flex-start;
    margin-right: 20px;
}
blockquote div:last-child {
    align-self: flex-end;
    margin-left: 20px;
}
blockquote p {
    text-align: center;
}
.cote {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
}
.cote p {
    font-size: 12px;
}
footer nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Le corps de la page */
.color {
    background: url("Illustrations/Bathome1.png") scroll no-repeat;
}
.mainimg {
    max-width: 74px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* La première section partageant le mème background-image */
.sec1div1 {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 40px;
    text-align: center;
    margin: 150px;
    font-size: 1.06em;
}
.bold {
    font-weight: 900;
    margin-top: 30px;
    font-size: 1.1em;
}
.sec1div3 {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    margin: 20px;
    margin-bottom: 250px;
}
.sec1div3 button {
    min-width: 240px;
    min-height: 60px;
    font-size: 0.8em;
    color: white;
    background: linear-gradient(90deg, #eddebf83 , #890009a2 );
    border: none;
}
.sec1div4 nav ul {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 100%;
}

/* La deuxième section */
.section2 {
    display: flex;
    flex-flow: column wrap;
    gap: 80px;
    align-items: center;
}
.section2 article {
    display: flex;
    flex-flow: column wrap;
    gap: 50px;
}
.section2 .sec2div {
    display: flex;
    gap: 90px;
}
/* Image au niveau du titre de la deuxième article */
.article2 {
    max-width: max-content;
}
.nemesis {
    position: relative;
    top: 100%;
    left: 10%;
    max-width: 150px;
}

/* La troisième section */
.section3 {
    display: flex;
    flex-flow: column wrap;
    gap: 80px;
    align-items: center;
}
.sec3div {
    display: flex;
    align-items: center;
    gap: 100px;
}
.section3 .sec3div article {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section3 article .mini {
    font-size: 15px;
    padding: 20px;
    max-width: 400px;
}
