/* Le style générale de la page HOME */
@font-face {
    font-family: "rajdhanim";
    src: url("fonts/rajdhani/rajdhani-medium.ttf");
}
@font-face {
    font-family: "groteskb";
    src: url("fonts/space_grotesk/SpaceGrotesk-Bold.otf");
}
@font-face {
    font-family: "groteskr";
    src: url("fonts/space_grotesk/SpaceGrotesk-Regular.otf");
}
html {
   /* font-family: "groteskr", Verdana, Geneva, Tahoma, sans-serif; */
   font-family: "rajdhanim", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25em;
    color: white;
    background-color: black;
    scroll-behavior: smooth;
}
* {
    padding: 0px;
    margin: 0px;
    max-width: 100vw;
}
li {
    list-style-type: none;
}
body {
    width: max-content;
}
h2 {
    font-family: "rajdhanim", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8em;
    margin-bottom: 40px;
}

/* L'en-tète de la page */ /*137*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 0px 1px 3px 1px;
    border-style: solid;
    border-color: #bcbbbd3f;
    padding: 60px 90px 100px 90px;
    margin: 0px 94px 0px 94px;
}
header nav ul { 
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

/* Le pied de page de la page */
footer {
    display: flex;
    flex-flow: column wrap;
    gap: 40px;
    align-items: center;
    margin-bottom: 60px;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: #bcbbbd3f;
    margin: 0px 94px 0px 94px;
    padding: 0px 0px 100px 0px;
}
/* La citation du pied de page */
blockquote {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    align-items: center;
    margin: 100px 0px 100px 0px;
    max-width: 748px;
}
blockquote div:first-child {
    align-self: flex-start;
    margin-right: 650px;
}
blockquote div:last-child {
    align-self: flex-end;
    margin-left: 650px;
}
/* les paragraphes de la citations du pied de page */
blockquote p {
    text-align: center;
}
.quote {
    font-family: "groteskb", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    line-height: 1.6em;
}
.quote2 {
    font-family: "rajdhanim", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    line-height: 1.6em;
}
/* Les autres parties du pied de page */
.cote {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
}
.cote p {
    font-family: "groteskr", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.5em;
}
footer nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Le corps de la page */
.color {
    background: url("Illustrations/Bathome1.png") scroll no-repeat;
    background-size: contain;
}
.mainimg {
    max-width: 74px;
    margin: auto;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: #bcbbbd3f;
    padding: 0px 551px 40px 551px;
}

/* La première section partageant le mème background-image */
.section1{
    position: relative;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: #bcbbbd3f;
    padding: 170px 0px 0px 0px;
    margin: 0px 94px 0px 94px;
}
.sec1div1 {
    font-family: "groteskr", Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 20px;
    font-size: 1.06em;
    text-align: center;
}
.bold {
    font-family: "groteskb", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    margin-top: 20px;
    font-size: 1.1em;
}
/* Les deux boutons de la première section */
.sec1div3 {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    margin: 20px;
    margin-bottom: 250px;
}
.sec1div3 button {
    font-family: "rajdhanim", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    width: 240px;
    height: 60px;
    max-width: 240px;
    max-height: 60px;
    color: white;
    background: linear-gradient(90deg, #eddebf65, #89000993 );
    border: none;
}
/* Menu de navigation fixe de la première section */
.sec1div4 nav ul {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 20px;
}
.sec1div4 {
    position: fixed;
    top: 300px;
    right: 30px;
}

/* La deuxième section */
.section2 {
 
}
.divsection2 {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 80px;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: #bcbbbd3f;
    padding: 40px 0px 80px 0px;
    margin: 0px 94px 0px 94px;
}
.section2 article {
    font-family: "groteskr", Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    display: flex;
    flex-flow: column wrap;
    gap: 50px;
}
.section2 .sec2div {
    display: flex;
    flex-flow: row wrap;
    gap: 70px;
    text-align: center;
    justify-content: space-around;
}
figcaption {
    font-family: "rajdhanim", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    margin-top: 20px;
}
/* Image au niveau du titre de la deuxième article */
.relatif {
    width: max-content;
}
.nemesis {
    position: relative;
    top: 2.4em;
    left: 55%;
    max-width: 150px;
}
/* Image au niveau du titre de la troisième article */
.test {

}
.section2 {
    position: relative;
}
.allies {
    position: absolute;
    top: 1720px;
    left: calc(100vw - 450px);
}

/* La troisième section */
.section3 {
    display: flex;
    flex-flow: column wrap;
    gap: 80px;
    align-items: center;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: #bcbbbd3f;
    margin: 0px 94px 0px 94px;
    padding: 0px 80px 0px 80px;
}
.section3 .start {
    align-self: self-start;
}
.sec3div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 172px;
}
/* Le mini article */
.section3 .sec3div article {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(90deg, #eddebf5d, #19587d5b);
    max-height: 230px;
    border-radius: 0px 15px 15px 0px;
}
.section3 article img {
    max-height: 230px;
}
.section3 article .mini {
    font-family: "groteskr", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.6em;
    padding: 15px;
    max-width: 340px;
    height: 210px;
    max-height: 210px;
}
.section3 article .mini h4 {
    font-family: "rajdhanim", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.6em;
    margin-top: 10px;
    margin-bottom: 5px;
}
.section3 article .mini strong {
    font-family: "groteskr", Verdana, Geneva, Tahoma, sans-serif;
    font-family: 100;
    display: inline-block;
    font-size: 0.7em;
    text-transform: capitalize;
    font-weight: normal;
    margin-bottom: 5px;
}
.section3 article .mini em {
    font-family: "groteskr", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    display: inline-block;
    font-style: normal;
    font-size: 0.6em;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.section3 article .mini em span {
    color: yellow;
}

/* L' iframe */

/* La quatrième section */
.section4 {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #2C3E50, #1C2833);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.form-container {
    width: 90%;
    max-width: 500px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.form-container h2 {
    font-size: 24px;
}

label {
    display: block;
    font-size: 14px;
    text-align: left;
    margin: 10px 0 5px;
}

.form-container input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

.form-container .checkbox-container {
    display: flex;
    align-items: center;
}

.form-container .checkbox-container input {
    width: auto;
    margin-right: 10px;
}

.form-container textarea {
    height: 100px;
    resize: none;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #8E0E00, #1F1C18);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.form-container button:hover {
    background: linear-gradient(to right, #B71C1C, #333);
}

@media (max-width: 600px) {
    .form-container {
        width: 95%;
        padding: 15px;
    }
}

/* Les animations */
/* Générale */
/* Style par défaut pour l'image */
a img {
    transition: filter 0.3s ease-in-out; /* Transition fluide pour l'effet */
}

/* Lorsque la souris survole l'image */
a:hover img {
    filter: brightness(2) sepia(1) hue-rotate(60deg) saturate(10); /* Effet jaune pur et lumineux */
}
/* Header */
header nav ul li a:link {
    text-decoration: underline;
    color: white;
    font-family: "rajdhanim", Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.3s ease-in-out;
}
header nav ul li a:visited {
    text-decoration: underline;
    color: white;
    font-family: "rajdhanim", Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.3s ease-in-out;
}
header nav ul li a:hover {
    text-decoration: underline;
    color: white;
    font-family: "rajdhanim", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}


